# Ignorar archivos de caché de Python
__pycache__
*.pyc

# Ignorar archivos de configuración local
settings.py
local_settings.py

# Ignorar archivos de registro
*.log

# Ignorar archivos de base de datos
*.sqlite3
db.sqlite3
