{% extends "layout.html" %}

{% block title %}La Receta{% endblock %}

{% block content %}
<div class="flex flex-col w-full border-opacity-50 mb-8 max-w-[950px] mx-auto">
  <div class="grid min-h-[50vh] card bg-base-300 rounded-box place-items-center">
    
    <div class="max-w-[950px] my-8 p-8">
      <h2 class="text-xl font-bold mb-2 pb-4">{{ receta.titulo }}</h2>
      
      <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Descripción:</h3>
        <p>{{ receta.descripcion }}</p>
      </div>
      
      <div class="mb-4">
        <h3 class="text-lg font-semibold mb-2">Ingredientes:</h3>
        <p>{{ receta.ingredientes }}</p>
      </div>
      
      <div>
        <h3 class="text-lg font-semibold mb-2">Instrucciones:</h3>
        <p>{{ receta.instrucciones }}</p>
      </div>
    </div>

  </div>
  <div class="divider">Receñas:</div>
  <div class="grid min-h-[150px] card bg-base-300 rounded-box place-items-center p-2">

    {% for comentario in comentarios %}
      {% include "componets/commentor.html" %}
    {% endfor %}

    {% include "componets/comment.html" %}

  </div>
</div>
{% endblock %}