<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>

  <title>Agenda</title>
</head>
<body>


  <div class="flex justify-center items-center pt-8">
    <div class="bg-white rounded-lg">
      <h1 class="text-3xl font-bold text-center">{{agenda.nombre}}</h1>
      <p>{{agenda.descripcion}}</p>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 max-w-lg mx-auto my-8">
    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-[260px]">
      <form class="" action="" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nota-titulo">
            Nota
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="nota-titulo" type="text" placeholder="Titulo" name="titulo" required>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nota-descripcion">
            Descripcion
          </label>
          <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="nota-descripcion" type="text" placeholder="Descripcion" name="descripcion"></textarea>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit" name="submit">
            Agregar
          </button>
        </div>
      </form>
    </div>

    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-[260px]">
      <form class="" action="" method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="tarea-titulo">
            Tarea
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="tarea-titulo" type="text" placeholder="Titulo" name="titulo" required>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="tarea-descripcion">
            Descripcion
          </label>
          <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="tarea-descripcion" type="text" placeholder="Descripcion" name="descripcion"></textarea>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit" name="submit">
            Agregar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 max-w-lg mx-auto my-8">
    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-[250px]">
      <table class="table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Notas</th>
            <!-- <th class="px-4 py-2">edit</th> -->
          </tr>
        </thead>
        <tbody>

          {% for nota in notas %}
            <tr>
                <td class="px-4 py-2">
                  <div class="font-bold">{{ nota.titulo }}</div>
                  <div class="">{{nota.descripcion}}</div>
                </td>
                <!-- <td class="px-4 py-2">
                    <a href="">Editar</a>
                </td> -->
            </tr>
          {% endfor %}
        
        
    

      </table>
    </div>
    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-[250px]">
      <table class="table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Tareas</th>
            <!-- <th class="px-4 py-2">Descripcion</th> -->
          </tr>
        </thead>
        <tbody>

          {% for tarea in tareas %}
            <tr>
              <td class="px-4 py-2">
                <div class="font-bold">{{ tarea.titulo }}</div>
                <div class="">{{tarea.descripcion}}</div>
              </td>

            </tr>
          {% endfor %}          
          
        </tbody>
      </table>
    </div>




  
</body>
</html>